/build
/.cache
/.vscode
/.idea
/cmake-build-debug
/.vc
/out
/src/core/cc/comptime_gen/target
/target
/lib/local/src
/lib/local/include/libunwind
/lib/local/include/lld
/lib/local/include/llvm
/lib/local/include/llvm-c
