name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run:  |
        cd ${{github.workspace}}/src/core/cc/comptime_gen
        cargo build --verbose
    - name: Run tests
      run: |
        cd ${{github.workspace}}/src/core/cc/comptime_gen
        cargo test --verbose
