name: Valid format

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: docker/setup-docker-action@v4
    - uses: actions/checkout@v4

    - name: Valid format
      working-directory: ${{github.workspace}}
      run: ./scripts/ci/valid_format.sh
